
<h1>Welcome to Muthu's Library</h1>

<table>

  <% @books.each do |book| %>
    <tr>

    <td>      <%= link_to book.Name, book %> </td>

    <td><%= link_to "Edit", edit_book_path(book) %></td>

    <td><%= link_to "Delete", book_path(book),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td>


</tr>
  <% end %>

</table>

<p>
<p>
<%= link_to "New Book", new_book_path %>
